<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>Blog Index</title>

    <link rel="stylesheet" type="text/css" href="scripts/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="scripts/index.css">

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/semantic.min.js"></script>
    <script>
        $(function() {

        });
    </script>
</head>

<body>
    <div class="ui container">
        <div class="ui raised segment" id='aContentDiv'>
            <div>
                <div class="ui label menuFontSize">
                    Tocu.me
                </div>
                <a href="../about.html" class="ui basic">
                    <div class="ui label menuFontSize menuFontColor" >
                        About
                    </div>
                </a>
            </div>
            <div class="ui divider"></div>
            <div id="showPost"></div>
            <div id="titleList" class="ui middle aligned list listShow">[titleList]<br /></div>
        </div>
    </div>
</body>

</html>
