<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Post List</title>

    <style>
        .listShow {
            font-size: 21px !important;
            font-weight: bold;
        }
        i.icon {
            font-size: 0.8em;
            width: 5em;
        }
        .dtLable {
            font-size: 18px !important;
            font-style: italic;
            color: gray !important;:
        }

    </style>
</head>

<body>
    <div id="titleList" class="ui middle aligneddivided list listShow">[titleList]<br /></div>
</body>

</html>
